<footer>
	<div class="footer-container">
	    <ul>
	        <li><%= link_to fa_icon('github'), "https://github.com/wandersonsc" %></li>
	       <li> <%= link_to fa_icon('twitter'), "https://twitter.com/wandersondsc" %></li>
	       <li> <%= link_to fa_icon('codepen'), "https://codepen.io/Wandersonsc/" %></li>
	    </ul>
    </div>    
</footer>



