<!DOCTYPE html>
<html>
  <head>
    <title>DragAndDrop</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="scroll-animate">
      <div id="scroll-animate-main">
        <div class="wrapper-parallax">
    <%= yield %>
     </div>
  </div>
</div>  
  </body>
</html>
